In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SpaceX.csv')

In [3]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [5]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

In [29]:
#df.columns
df['Landing _Outcome'].unique()

array(['Failure (parachute)', 'No attempt', 'Uncontrolled (ocean)',
       'Controlled (ocean)', 'Failure (drone ship)',
       'Precluded (drone ship)', 'Success (ground pad)',
       'Success (drone ship)', 'Success', 'Failure', 'No attempt '],
      dtype=object)

In [9]:
df = df.rename(columns={'PAYLOAD_MASS__KG_':'PayloadMass'})

In [20]:
is_f9_v1_1 = []
for each in df['Booster_Version']:
    if each[:8] == 'F9 v1.1':
        is_f9_v1_1.append(1)
    else:
        is_f9_v1_1.append(0)

In [21]:
df['is_f9v1'] = is_f9_v1_1

In [22]:
df[df['is_f9v1'] == 1]['PayloadMass'].mean()

2928.4

In [11]:
pd.DataFrame(df['PayloadMass'].groupby(by=df['Booster_Version']).sum())

                 PayloadMass
Booster_Version
F9 B4  B1039.2          2647
F9 B4  B1040.2          5384
F9 B4  B1041.2          9600
F9 B4  B1043.2          6460
F9 B4 B1039.1           3310
...                      ...
F9 v1.1 B1014           4159
F9 v1.1 B1015           1898
F9 v1.1 B1016           4707
F9 v1.1 B1017            553
F9 v1.1 B1018           1952

[97 rows x 1 columns]

In [23]:
#  List the names of boosters which have successfully landed on drone ship 
#  and had payload mass greater than 4000 but less than 6000

In [33]:
filtered_df = df[df['Landing _Outcome'] == 'Success (drone ship)'] 
filtered_df = filtered_df[filtered_df['PayloadMass'] > 4000] 
filtered_df = filtered_df[filtered_df['PayloadMass'] < 6000]
filtered_df['Booster_Version'].unique().tolist()

['F9 FT B1022', 'F9 FT B1026', 'F9 FT  B1021.2', 'F9 FT  B1031.2']

In [35]:
df['Mission_Outcome'].value_counts()

Success                             98
Success                              1
Failure (in flight)                  1
Success (payload status unclear)     1
Name: Mission_Outcome, dtype: int64

In [36]:
df['PayloadMass'].max()

15600

In [38]:
df[df['PayloadMass'] == df['PayloadMass'].max()]['Booster_Version'].unique().tolist()

['F9 B5 B1048.4',
 'F9 B5 B1049.4',
 'F9 B5 B1051.3',
 'F9 B5 B1056.4',
 'F9 B5 B1048.5',
 'F9 B5 B1051.4',
 'F9 B5 B1049.5',
 'F9 B5 B1060.2 ',
 'F9 B5 B1058.3 ',
 'F9 B5 B1051.6',
 'F9 B5 B1060.3',
 'F9 B5 B1049.7 ']

In [39]:
#List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [47]:
df['year'] = pd.DatetimeIndex(df['Date']).year

In [52]:
df['year'].unique()

array([2010, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [55]:
df['year'] = pd.DatetimeIndex(df['Date']).year
new_df = df[df['year'] == 2015]
new_df = new_df[new_df['Landing _Outcome'] == 'Failure (drone ship)']
new_df[['Booster_Version', 'Launch_Site', 'Landing _Outcome', 'Date']]

   Booster_Version  Launch_Site      Landing _Outcome        Date
13   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)  10-01-2015
16   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)  14-04-2015

In [56]:
#Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) 
# between the date 2010-06-04 and 2017-03-20, in descending order

In [57]:
new_df = df[df['Date'] >= '04-06-2022']
new_df = new_df[new_df['Date'] <= '20-03-2017']
new_df['Landing _Outcome'].value_counts()

Success                 19
No attempt               9
Success (drone ship)     8
Success (ground pad)     6
Failure (drone ship)     4
Failure                  3
Controlled (ocean)       3
Failure (parachute)      1
No attempt               1
Name: Landing _Outcome, dtype: int64